@import './variables.scss';

.footer {
    background-color: $color-green;
    color: $color-white;
    height: 10vh;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}