@import "./variables.scss";

.hero {
  // Utilisation de variables pour des valeurs réutilisables

  margin-top: $navbar-height;
  height: $hero-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .heroImage {
    position: absolute;
    min-height: 40vh;
    width: 100%;
    @include lg {
      height: 100vh;
    }

    .heroBackground {
      @include lg {
        height: $hero-height-lg !important;
        top: 0 !important;
      }
    }

    // Ajout de la transition pour un effet d'assombrissement plus doux
    .darkenImage {
      filter: brightness(80%);
      transition: filter 0.3s ease;
    }
  }

  .heroTitle {
    position: relative;
    z-index: 11;
  }

  // Ajout du padding et de l'ombre pour une meilleure lisibilité
  h1 {
    position: relative;
    text-align: center;
    color: white;
    padding: 0.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  @include lg {
    margin-top: 0;
    height: $hero-height-lg;
  }
}
