@import './variables.scss';

.hero {
    margin-top: 5vh;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .heroImage {
        position: absolute;
        z-index: 10;
        justify-items: center;
        align-items: center;
        height: 100%;
        width: 100%;
        .heroBackground {
            top: 40px!important;
            min-height: 60%!important;
            filter: brightness(80%);
            @include lg {
                height: 100%!important;
                top: 0!important;
            }
        }
    }
    .heroTitle {
        position: relative;
        z-index: 11;
    }
    h1 {
        position: relative;
        text-align: center;
        color: white;
    }
    
    @include lg {
        margin-top: 0;
        height: 100vh;
    }
}