@import "./variables.scss";

.navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: $navbar-height;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    .navbarLogo {
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 2rem;
        img {
            object-fit: contain;
            height: 100%;
        }
        .navbarLogoTitle {
            display: none;
            @include lg {
                display: block;
            }
        }
    }
    .navbarLinksContainer {
        margin: 1rem;
        display: flex;
        a {
            text-decoration: none;
            color: $color-blue;
            .navbarLink {
                margin: 1rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .navbarToggle {
        height: 100%;
        svg {
            height: 2rem;
            margin-right: 2rem;
        }
    }
    .mobileMenu {
        position: absolute;
        width: 100vw;
        height: 90vh;
        top: 10vh;
        margin: 0;
        padding: 2rem;
        background-color: $color-white;
        // ajouter les transitions
        .navbarLink {
            margin-bottom: 1rem;
        }
    }
}

.mobile {
    display: block;
}
.desktop {
    display: none;
}
@include lg {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}
