@import './variables.scss';

.title {
    background-color: white;
    height: 40vh;
    width: 100%;
    color: #115211;
    z-index: 20;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    
    @include lg {
        height: 100vh;
    }
}